
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
Assembly-CSharp.csproj
BUNKASAI.sln
Library/CurrentLayout.dwlt
Library/shadercompiler-UnityShaderCompiler.exe0.log
Assembly-CSharp.csproj
Assembly-CSharp.csproj
BUNKASAI.sln
Library/EditorInstance.json
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/ProcessJobs/e0707335ab130440c8433c6618c5a203.bakert
Library/CurrentLayout.dwlt
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe0.log
